<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Nuovo film</title>
</head>

<body>
    <h2>Nuovo film da inserire nel catalogo</h2>
    <div class="col-3">
        <form method="post" th:action="@{/films/nuovo}" th:object="${filmForm}">
            <div>
                <label>Codice</label><br>
                <input th:type="text" th:field="*{codice}">
            </div>
            <div>
                <label>Titolo</label><br>
                <input th:type="text" th:field="*{titolo}">

                <!--Controlli del validator-->
                <div th:if="${#fields.hasErrors('titolo')}">
                    <span th:errors="*{titolo}" class="text-danger"></span>
                </div>
            </div>
            <div>
                <label>Genere</label><br>
                <input th:type="text" th:field="*{genere}">
                <!--Controlli del validator-->
                <div th:if="${#fields.hasErrors('genere')}">
                    <span th:errors="*{genere}" class="text-danger"></span>
                </div>
            </div>
            <div>
                <label>Anno</label><br>
                <input th:type="text" th:field="*{anno}">
                <!--Controlli del validator-->
                <div th:if="${#fields.hasErrors('anno')}">
                    <span th:errors="*{anno}" class="text-danger"></span>
                </div>
            </div>
            <div>
                <label>Voto</label><br>
                <input th:type="text" th:field="*{voto}">
                <!--Controlli del validator-->
                <div th:if="${#fields.hasErrors('voto')}">
                    <span th:errors="*{voto}" class="text-danger"></span>
                </div>
            </div>

            <div>
                <input class="btn btn-success" type="submit" value="Conferma"/>
                <input class="btn btn-secondary" type="reset" value="Svuota form"/>
                <a th:href="@{/films}" class="btn btn-primary">Indietro</a>
            </div>
        </form>
    </div>
</body>

</html>