<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>dettaglio film</title>
</head>
<body>
    <div class="col-3">
        <div>
            <h3 th:text="${film.codice + ' ' + film.titolo}"></h3>
            <div>
                <b>genere: </b><span th:text="${film.genere}"></span>
            </div>
            <div>
                <b>anno: </b><span th:text="${film.anno}"></span>
            </div>
            <div>
                <b>voto: </b><span th:text="${film.voto}"></span>
            </div>
        </div>

        <div>
            <a th:href="@{films/delete/{codice}}" class="btn btn-danger">Elimina film</a><br>
            <a th:href="@{/films}" class="btn btn-primary">Homepage</a>
        </div>
    </div>
</body>
</html>