<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Film list</title>
</head>

<body>
    <!-- feedback di eliminazione -->
    <div class="col-3 my-2">
        <div class="alert alert-info" role="alert" th:if="${deleted != null}"> 
            film eliminato!
        </div>
    </div>

    <header class="my-2">
        <h2>Lista Film</h2>
    </header>

    <div>
        <div>
            <!--pulsante per aggiungere un nuovo film-->
            <a th:href="@{/films/nuovo}" class="btn btn-success">Nuovo film</a>
            <a th:href="@{/films}" class="btn btn-danger">Svuota catalogo</a>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="col-2">codice</th>
                    <th class="col-2">titolo</th>
                    <th class="col-2">genere</th>
                    <th class="col-3">anno</th>
                    <th class="col-1">voto</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                <!-- ciclo sull'arraylist -->
                <tr th:each="c : ${film}">
                    <td> <a th:href="@{'/films/'+${c.codice}}" th:text="${c.codice}"></a></td>
                    <td th:text="${c.titolo}"></td>
                    <td th:text="${c.genere}"></td>
                    <td th:text="${c.anno}"></td>
                    <td th:text="${c.voto}"></td>
                    <td>
                        <!-- pulsante di eliminazione -->
                        <a th:href="@{'/delete/'+${c.codice}}" class="btn btn-danger">Elimina</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>